@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;          /* Ensure body takes full viewport height */
    width: 100%;           /* Ensure body takes full viewport width */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;      /* Body takes full viewport height */
    background-color: #D9D9D9;
    background-size: cover;
    background-position: center;
    width: 100vw;
}

.israsi {
    height: 41px;
    margin-bottom: 20px;     /* Space between .israsi and .box */
}

.israsi img {
    margin-top: 35px;
    width: 150px;  /* Set desired width */
    height: auto;  /* Maintain aspect ratio */
    /* Prevent image from exceeding container */
}

.box {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 100%;
    padding: 20px;
    border-radius: 50px;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

form {
    inset: 2px;
    border-radius: 50px;
    z-index: 10;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: #A09D9D;
    color: #000;
}

h2 {
    color: black;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    font-family: 'Candal', sans-serif;
}

.input-box {
    position: relative;
    width: 300px;
    margin-top: 25px;
    color: #000;
}

.input-box input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 1em;
    letter-spacing: .05em;
    z-index: 10;
}

input[type="submit"] {
    font-size: 20px;
    border: none;
    outline: none;
    background: #fefefe;
    padding: 5px;
    margin-top: 40px;
    border-radius: 90px;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: rgb(177, 177, 177);
    opacity: .8;
    transition-duration: 0.3s;
}

.input-box span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #000;
    pointer-events: none;
    letter-spacing: .05em;
    transition: .5s;
}

.input-box input:valid ~ span,
.input-box input:focus ~ span {
    color: black;
    transform: translateX(-10px) translateY(-30px);
    font-size: .75em;
}

.input-box i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: black;
    border-radius: 4px;
    transition: .5s;
    pointer-events: none;
    z-index: 9;
}

.input-box input:valid ~ i,
.input-box input:focus ~ i {
    height: 44px;
    background: linear-gradient(to right, #3434344d 50%, #716f6f60 50%);
    color: #333;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    margin: 25px 0;
    font-size: 1em;
    color: #8f8f8f;
    text-decoration: none;
}

.links a:hover,
.links a:nth-child(2) {
    color: #3b3b3b;
}

.links a:nth-child(2):hover {
    color: #131313;
    transition-duration: 0.3s;
}

footer {
    width: 100vw;         /* Full width of the screen */
    padding: 10px;
    background-color: #A09D9D;
    text-align: center;    /* Center the text */
}
